.custom-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .custom-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .custom-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .custom-container {
        max-width: 1140px;
    }
}
@media (min-width: 1700px) {
    .custom-container {
        max-width: 1640px;
    }
}
@media (max-width: 767px) {
    .custom-container {
        padding-right: 0;
        padding-left: 0;
    }
}